.loading-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.one-ring {
    width: 150px;
    margin-top: 140px;
}

.gandalf {
    width: 300px;
    margin-top: 20px;
}