.sessions-container {
    display: flex;
    justify-content: center;
    padding: 0 23px;
    margin-bottom: 150px;
}

.sessions-list {
    display: flex;
    flex-direction: column;
    gap: 23px;
    width: 100%;
    min-width: 329px;
}

.session-date {
    font-size: 20px;
    line-height: 24px;
}

.session-time-options {
    margin-top: 22px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.time-option {
    width: 83px;
    height: 43px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E8833A;
    border-radius: 3px;
    color: #ffffff;
}

.time-link {
    text-decoration: none;
    color: black;
}